<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icon -->

    <link rel="icon" href="~/Content/images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
    <!-- calendar file css -->
    @*<link href="~/content/css/semantic.min.css" rel="stylesheet" />*@
    <!-- site css -->
    <link href="~/style.css?nocache=@DateTime.Now.ToString("yyyyMMddHHmmss")" rel="stylesheet" />
    <!-- responsive css -->
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <link href="~/content/css/animate.css" rel="stylesheet" />


    <!-- color css -->
    @*<link rel="stylesheet" href="~/Content/css/color_2.css" />*@
    <!-- select bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="~/Content/css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/css/custom.css?nocache=@DateTime.Now.ToString("yyyyMMddHHmmss")" />
    <!--[if lt IE 9]>
    @*<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>*@
    <![endif]-->
    <link href="~/content/css/datatables.bootstrap4.min.css" rel="stylesheet" />
</head>
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a asp-controller="Home" asp-action="Home"><img class="logo_icon img-responsive" src="~/Content/images/logo/Lambang_Kabupaten_Garut.svg" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            <div class="user_img"><img class="img-responsive" style="border-radius:0px" src="~/Content/images/Logo/Lambang_Kabupaten_Garut.svg" alt="#" /></div>
                            <div class="user_info">
                                <h6>KADES</h6>
                                <p><span></span>(Kelola Aset Desa)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4></h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a asp-controller="Home" asp-action="Home" aria-expanded="false"><i class="fa fa-home blue2_color"></i><span>Home</span></a>

                        </li>

                        <li>
                            <a href="#asset" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-archive orange_color"></i> <span>Asset</span></a>
                            <ul class="collapse list-unstyled" id="asset">
                                <li><a asp-area="" asp-controller="Asset" asp-action="DataAsset"><span>Buku Kekayaan Desa</span></a></li>
                                <li><a asp-area="" asp-controller="Asset" asp-action="DataAssetDeleted"><span>Log Kekayaan Desa</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#surat" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-file-text-o white_color"></i> <span>Surat</span></a>
                            <ul class="collapse list-unstyled" id="surat">
                                <li><a asp-area="" asp-controller="Surat" asp-action="TemplateSurat"><span>Template Surat</span></a></li>
                                <li><a asp-area="" asp-controller="Surat" asp-action="LogSurat"><span>Log Surat</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#Administration" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-book red_color"></i> <span>Administration Desa</span></a>
                            <ul class="collapse list-unstyled" id="Administration">
                                @*<li><a asp-area="" asp-controller="Administration" asp-action="Index">> <span>Buku Peraturan Desa</span></a></li>*@
                                <li>
                                    <a href="#umum" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                        <span>Umum</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="umum" style="padding:0px 10px">
                                        <li>
                                            <a asp-area="" asp-controller="Administration" asp-action="AparaturDesa">
                                                <span>Buku Aparatur Desa</span>
                                            </a>
                                        </li>
                                        <li><a asp-area="" asp-controller="Administration" asp-action="DataPenduduk"> <span>Buku Data Penduduk</span></a></li>

                                    </ul>

                                </li>
                                <li>
                                    <a href="#keuangan" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                        <span>Keuangan</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="keuangan" style="padding:0px 10px">
                                        <li>
                                            <a asp-area="" asp-controller="Administration" asp-action="RABDesa">
                                                <span>Buku RAB Desa</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-area="" asp-controller="Administration" asp-action="RealisasiRAB">
                                                <span>Buku Realisasi RAB</span>
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a href="#lembaga" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                        <span>Kelembagaan</span>
                                    </a>
                                    <ul class="collapse list-unstyled" id="lembaga" style="padding:0px 10px">
                                        <li>
                                            <a href="#LPM" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                <span>Lembaga LPM</span>
                                            </a>
                                            <ul class="collapse list-unstyled" id="LPM" style="padding:0px 10px">
                                                <li>
                                                    <a asp-area="" asp-controller="Administration" asp-action="BPD">
                                                        <span>Buku Anggota LPM</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Administration" asp-action="KegiatanBPD">
                                                        <span>Buku Kegiatan LPM</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#KTR" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                <span>Lembaga Karang Taruna</span>
                                            </a>
                                            <ul class="collapse list-unstyled" id="KTR" style="padding:0px 10px">
                                                <li>
                                                    <a asp-area="" asp-controller="Administration" asp-action="KarangTaruna">
                                                        <span>Buku Anggota Karang Taruna</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Administration" asp-action="KegiatanKarangTaruna">
                                                        <span>Buku Kegiatan Karang Taruna</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <a href="#PKK" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                                <span>Lembaga PKK</span>
                                            </a>
                                            <ul class="collapse list-unstyled" id="PKK" style="padding:0px 10px">
                                                <li>
                                                    <a asp-area="" asp-controller="Administration" asp-action="PKK">
                                                        <span>Buku Anggota PKK</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-area="" asp-controller="Administration" asp-action="KegiatanPKK">
                                                        <span>Buku Kegiatan PKK</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </li>

                        <li class="active">
                            <a asp-controller="Maintenance" asp-action="UserMaintenance" aria-expanded="false"><i class="fa fa-user green_color"></i><span>User Maintenance</span></a>


                        </li>

                        <li>
                            <a href="#ParameterMaintenance" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <i class="fa fa-cog gray_color"></i>
                                <span>Parameter Maintenance</span>
                            </a>
                            <ul class="collapse list-unstyled" id="ParameterMaintenance" style="padding:0px 10px">
                                <li>
                                    <a asp-area="" asp-controller="Maintenance" asp-action="Jabatan">
                                        <span>Jabatan</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Maintenance" asp-action="Dusun">
                                        <span>Dusun</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Maintenance" asp-action="Agama">
                                        <span>Agama</span>
                                    </a>
                                </li>

                                <li>
                                    <a asp-area="" asp-controller="Maintenance" asp-action="Pendidikan">
                                        <span>Pendidikan</span>
                                    </a>
                                </li>

                                <li>
                                    <a asp-area="" asp-controller="Maintenance" asp-action="Pekerjaan">
                                        <span>Pekerjaan</span>
                                    </a>
                                </li>

                                <li>
                                    <a asp-area="" asp-controller="Maintenance" asp-action="JenisAset">
                                        <span>Jenis Aset</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Maintenance" asp-action="SumberAset">
                                        <span>Sumber Aset</span>
                                    </a>
                                </li>


                            </ul>
                        </li>

                        <li class="active">
                            <a asp-controller="Home" asp-action="Notes" aria-expanded="false"><i class="fa fa-pencil-square-o yellow_color"></i><span>Notes</span></a>


                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>

                            <div class="right_topbar">
                                <div class="icon_info">
                                    @*<ul>
                                    <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                    <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                    </ul>*@
                                    <ul class="user_profile_dd">
                                        <li>
                                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="~/Content/images/logo/userDefault.png" alt="#" /><span class="name_user">@ViewBag.USERID</span></a>
                                            <div class="dropdown-menu">
                                                @*<a class="dropdown-item" href="profile.html">My Profile</a>
                                                <a class="dropdown-item" href="settings.html">Settings</a>
                                                <a class="dropdown-item" href="help.html">Help</a>*@
                                                <a class="dropdown-item" asp-controller="Account" asp-action="Login"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <!-- dashboard inner -->
                <div class="midde_cont">
                    @RenderBody()
                    <!-- footer -->
                    <div class="container-fluid">
                        <div class="footer">
                            <p>
                                Copyright © 2018 Designed by html.design. All rights reserved.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalTimeoutWarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">Session Timeout Warning</h5>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>*@
                </div>
                <div class="modal-body">
                    <h7>Your session will expired in few minutes, Please klik OK to continue session.</h7>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-warning" data-dismiss="modal" onclick="ResetTimers()">Ok</button>
                </div>
            </div>
        </div>
    </div>



    <!-- jQuery -->

    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- wow animation ~Content/-->
    <script src="~/Content/js/animate.js"></script>
    <!-- select country -~Content/->
    <script src="~/Content/js/bootstrap-select.js"></script>
    <!-- ow~Content/l carousel -->
    <script src="~/Content/js/owl.carousel.js"></script>
    <!-- chart js~Content/ ~Content/-->
    <script src="~/Content/js/Chart.min.js"></script>
    <script src="~/Content/js/Chart.bundle.min.js"></script>
    <script src="~/Content/js/utils.js"></script>
    <script src="~/Content/js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="~/Content/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>

    <script src="~/js/Custom.js?nocache=@DateTime.Now.ToString("yyyyMMddHHmmss")" asp-append-version="true"></script>

    <!-- custom js -->
    <script src="~/Content/js/custom.js"></script>
    <!-- calendar file js -->
    <script src="~/content/js/semantic.min.js"></script>
    <script src="~/Content/js/chart_custom_style1.js"></script>

    <!--- Data Table -->
    <!-- Page level plugins -->
    <script src="~/content/js/jquery.datatables.min.js"></script>
    <script src="~/content/js/datatables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/content/js/datatables-demo.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/content/js/animate.js"></script>
    @*<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>*@
    @*<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>*@
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
    @*
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- BS JavaScript -->
    <script type="text/javascript" src="~/content/js/bootstrap.js"></script>*@

</body>
</html>