@using KADES.Models.Administrasi;
@model RAB_DESA



<div class="modal fade" id="updateRAB-@Model.ID">
    <div class="mdl modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpdateRAB" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <input id="ID" asp-for="ID" type="hidden" />
                        <input id="FILENAME" asp-for="FILENAME" type="hidden" />
                        <input id="FILE_PATH" asp-for="PATH_FILE" type="hidden" />
                        <div class="field_form">
                            <label class="label_field">Jenis RAB</label>
                            <input id="JENIS_RAB" asp-for="JENIS_RAB" type="text" class="form-control form-control-user" />
                        </div>
                        <div class="field_form">
                            <label class="label_field">Tanggal RAB</label>
                            <input type="date" asp-for="TGL_RAB" class="form-control form-control-user" />
                        </div>
                        <div class="field_form">
                            <label class="label_field">Lampiran</label>
                            <input id="FILE_UPLOAD" type="file" asp-for="PATH_FILE" name="FILE_UPLOAD" accept=".doc,.docx" class="form-control form-control-user" multiple />
                        </div>
                        <div class="field_form">
                            <label class="label_field">Keterangan</label>
                            <textarea id="KETERANGAN" style="height:130px" class="form-control form-control-user" asp-for="KETERANGAN"></textarea>
                        </div>

                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>