@using KADES.Models.Account;
@model VW_Users


<div class="modal fade" id="upUsers-@Model.USERID">
    <div class="mdl_new modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpdateUsers" method="POST">
                    <fieldset>
                        <input id="PASSWORD" asp-for="PASSWORD" hidden />
                        <div class="field_form">
                            <label class="label_field  control-label">Group</label>
                            <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlGroup" asp-for="GROUPID"></select>
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">User Id</label>
                            <input id="USERID" asp-for="USERID" type="text" class="form-control form-control-sm form-control-user"  readonly/>
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Username</label>
                            <input id="USERNAME" asp-for="USERNAME" type="text" class="form-control form-control-sm form-control-user" />
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Email</label>
                            <input id="EMAIL" asp-for="EMAIL" type="email" class="form-control form-control-sm form-control-user" />
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>