@using KADES.Models.Maintenance;
@model RfJenisAset




<div class="modal fade" id="upJnsAset-@Model.ID">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpJnsAset" method="POST">
                    <fieldset>
                        <input id="ID" asp-for="@Model.ID" hidden />
                        <div class="field_form">
                            <label class="label_field  control-label">Kode Jenis Aset</label>
                            <input id="KODE_JNSASET" asp-for="KODE_JNSASET" type="text" class="form-control form-control-sm form-control-user" />
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Jenis Aset</label>
                            <input id="JENIS_ASET" asp-for="JENIS_ASET" type="text" class="form-control form-control-sm form-control-user" />
                        </div>

                        <div class="field_form">
                            <label class="label_field  control-label">Active</label>
                            <input id="ACTIVE" asp-for="ACTIVE" type="checkbox" class="form-control-user" />
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>