@using KADES.Models.Maintenance;
@model RfAgama




<div class="modal fade" id="upAgama-@Model.ID">
    <div class="mdl_new modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpAgama" method="POST">
                    <fieldset>
                        <input id="ID" asp-for="@Model.ID" hidden />
                        <div class="field_form">
                                <label class="label_field  control-label">Agama</label>
                                <input id="AGAMA" asp-for="AGAMA" type="text" class="form-control form-control-sm form-control-user" />
                             </div>

                            <div class="field_form">
                                <label class="label_field  control-label">Active</label>
                                <input id="ACTIVE" asp-for="ACTIVE" type="checkbox" class="form-control-user" />
                            </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>