@*@using KADES.Models.Account;
@model AccountModels;*@
@{
    Layout = "_LayoutLogin";
}

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="field">
            <label class="label_field  control-label">User ID</label>
            <input type="text" id="userid" name="userid" placeholder="User ID" />
        </div>
        <div class="field">
            <label class="label_field  control-label">Password</label>
            <input type="password" name="password" placeholder="Password" value="password" />
        </div>
        <div class="field">
            <label class="label_field  control-label hidden">hidden label</label>
            <a class="forgot" asp-area="" asp-controller="Account" asp-action="ForgotPass">Forgot Password?</a>
        </div>
        @{
            var a = ViewBag.LoginStat;
            if (ViewBag.LoginStat == 0)
            {
                <div class="field">
                    <div class="alert-custom alert alert-danger ">@ViewBag.MsgError</div>
                </div>
            }
        }

        <div class="field margin_0">
            <label class="label_field  control-label hidden">hidden label</label>
            <button type="submit" class="main_bt">Sing In</button>
        </div>
    </fieldset>
</form>