@using KADES.Models.Administrasi;
@model VW_BPD


<div class="modal fade" id="inactiveBPD-@Model.ID">
    <div class="mdl modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="InactiveBPD" method="POST">
                    <fieldset>
                        <input id="ID" asp-for="ID" type="hidden" />
                        <input id="KODE_JABATAN" asp-for="KODE_JABATAN" type="hidden" />
                        <input id="NAMA" asp-for="NAMA" type="hidden" />
                        <input id="JENIS_KELAMIN" asp-for="JENIS_KELAMIN" type="hidden" />
                        <input id="NIK" asp-for="NIK" type="hidden" />
                        <input id="SK" asp-for="SK" type="hidden" />
                        <input id="NO_TELP" asp-for="NO_TELP" type="hidden" />
                        <input id="ALAMAT" asp-for="ALAMAT" type="hidden" />
                        <input id="TGL_MASUK" asp-for="TGL_PENGANGKATAN" type="hidden" />

                        <div class="field_form">
                            <label class="label_field  control-label">No. SK Pemberhentian</label>
                            <input id="SK_BERHENTI" asp-for="SK_BERHENTI" type="text" class="form-control form-control-sm form-control-user" />
                        </div>

                        <div class="field_form">
                            <label class="label_field  control-label">Tanggal Berhenti</label>
                            <input type="date" asp-for="TGL_PEMBERHENTIAN" class="form-control form-control-sm form-control-user" />

                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>