@using KADES.Models.Administrasi;
@model VW_RAB_DESA



<div class="modal fade" id="updateRAB-@Model.ID">
    <div class="mdl modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpdateRAB" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <input id="ID" asp-for="ID" type="hidden" />

                        <div class="field_form">
                            <label class="label_field  control-label">Rencana Kegiatan</label>
                            <input id="JENIS_RAB" asp-for="JENIS_RAB" type="text" class="form-control form-control-sm form-control-user" required />
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Tanggal RAB</label>
                            <input type="date" asp-for="TGL_RAB" class="form-control form-control-sm form-control-user" required />
                        </div>
                        <div class="field_form">
                                <label class="label_field  control-label">Sumber Dana</label>
                            <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlSumberDana" asp-for="IDSUMBER_DANA"></select>
                            </div>
                        <div class="field_form">
                                <label class="label_field  control-label">Dana</label>
                            <input id="SALDO_AWAL" asp-for="SALDO_AWAL" type="number" class="form-control form-control-sm form-control-user" required />
                            </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Keterangan</label>
                            <textarea id="KETERANGAN" style="height:130px" class="form-control form-control-sm form-control-user" asp-for="KETERANGAN"></textarea>
                        </div>

                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>