@using KADES.Models.Administrasi;
@model VWREALISASI_RAB



<div class="modal fade" id="updateRe-@Model.ID">
    <div class="mdl modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpdateRe" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <input id="ID" asp-for="ID" type="hidden" />
                        <input id="ID_RAB" asp-for="ID_RAB" type="hidden" />
                        <input id="FILENAME" asp-for="FILENAME" type="hidden" />
                        <input id="PATH" asp-for="PATH" type="hidden" />

                        <div class="field_form">
                            <label class="label_field  control-label">Kegiatan</label>
                            <input id="KEGIATAN" asp-for="KEGIATAN" type="text" class="form-control form-control-sm form-control-user" required />
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Sumber RAB</label>
                            <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlSumberRAB" asp-for="ID_RAB" disabled></select>
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Tanggal Kegiatan</label>
                            <input type="date" asp-for="TGL_REALISASI" class="form-control form-control-sm form-control-user" required />
                        </div>
                        <div class="field_form">
                            <label class="label_field  control-label">Biaya</label>
                            <input id="BIAYA" asp-for="BIAYA" type="number" class="form-control form-control-sm form-control-user" required />
                        </div>

                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>