@using KADES.Models.Administrasi;
@model VW_PKK


<div class="modal fade" id="updatePKK-@Model.ID">
    <div class="mdl_new modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpdatePKK" method="POST">
                    <fieldset>
                        <input id="ID" asp-for="ID" hidden />
                        <input id="SK_BERHENTI" asp-for="SK_BERHENTI" hidden />
                        <input id="TGL_BERHENTI" asp-for="TGL_PEMBERHENTIAN" hidden />

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="field_form">
                                    <label class="label_field  control-label">Jabatan</label>
                                    <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlJabatan" asp-for="KODE_JABATAN"></select>
                                </div>
                                <div class="field_form">
                                    <label class="label_field  control-label">NIK</label>
                                    <input id="NIK" asp-for="NIK" type="number" class="form-control form-control-sm form-control-user" />
                                </div>
                                <div class="field_form">
                                    <label class="label_field  control-label">No. SK Pengangkatan</label>
                                    <input id="SK" asp-for="SK" type="text" class="form-control form-control-sm form-control-user" />
                                </div>
                                <div class="field_form">
                                    <label class="label_field  control-label">Nama</label>
                                    <input id="NAMA" asp-for="NAMA" type="text" class="form-control form-control-sm form-control-user" />
                                </div>

                                <div class="field_form">
                                    <label class="label_field  control-label">Jenis Kelamin</label>
                                    <select class="form-control form-control-sm form-control-user" asp-items="@ViewBag.ddlJK" asp-for="JENIS_KELAMIN"></select>
                                </div>
                                
                            </div>
                            <div class="col-sm-6">
                                <div class="field_form">
                                    <label class="label_field  control-label">No Telp</label>
                                    <input id="NO_TELP" asp-for="NO_TELP" type="text" class="form-control form-control-sm form-control-user" />
                                </div>
                                <div class="field_form">
                                    <label class="label_field  control-label">Alamat</label>
                                    <textarea id="ALAMAT" style="height:100px;margin-bottom:10px" class="form-control form-control-sm form-control-user" asp-for="ALAMAT"></textarea>
                                </div>
                                <div class="field_form">
                                    <label class="label_field  control-label">Tanggal Masuk</label>
                                    <input type="date" asp-for="TGL_PENGANGKATAN" class="form-control form-control-sm form-control-user" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>