@using KADES.Models.Administrasi;
@model KegiatanPKK




<div class="modal fade" id="upKegPKK-@Model.ID">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Update Data</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<div class="login_form">*@
                <form asp-action="UpKegPKK" method="POST">
                    <fieldset>
                        <input id="ID" asp-for="ID" hidden/>
                        <div class="field_form">
                            <label class="label_field  control-label">Kegiatan</label>
                            <input id="KEGIATAN" asp-for="KEGIATAN" type="text" class="form-control form-control-sm form-control-user" required />
                        </div>

                        <div class="field_form">
                            <label class="label_field  control-label">Penanggung Jawab</label>
                            <input id="KOORDINATOR" asp-for="KOORDINATOR" type="text" class="form-control form-control-sm form-control-user" required />
                        </div>

                        <div class="field_form">
                            <label class="label_field  control-label">Tanggal Mulai</label>
                            <input type="date" asp-for="TGL_MULAI" class="form-control form-control-sm form-control-user" required />
                        </div>

                        <div class="field_form">
                            <label class="label_field  control-label">Tanggal berakhir</label>
                            <input type="date" asp-for="TGL_BERAKHIR" class="form-control form-control-sm form-control-user" required />
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-success">Save</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>

                @*</div>*@
                <!-- Modal footer -->
            </div>
        </div>
    </div>
    <!-- end model popup -->
</div>